*{
    box-sizing: border-box;
}
body, html {
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a {
    color:inherit; 
    text-decoration: none;

}
h3 {
    font-weight: 700;
}
@media (max-width: 576px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x : hidden;
    }
}


  







