.footer-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    background-color: #f9f5ef;

}

.footer-banner .footer-cover {
    display: block;
    width: 100%;
    height: 90%;
    max-width: 1200px;
    overflow: hidden;
    /* border-radius: 20px; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.footer-banner .footer-cover img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover;
    /* transition: transform 0.3s ease; */
    /* padding: 50px 110px; */
}
/* Hover nhẹ
.footer-banner .footer-cover:hover img {
    transform: scale(1.03);
} */

.sliding-banner {
    width: 100%;
    /* margin-bottom: 20px; */
}
.slogan {
    width: 100%;
    /* height: 100%; */
    display: none; /*mặc định ẩn các banner*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slogan1 {
    font-family: 'vollkorn';
    font-size: 36px;
    color: rgb(204, 180, 143);
    font-style: italic;
    width: 700px;

}
.slogan2 {
    font-family: 'Barlow Condensed';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.slogan.active {
    display: flex;
}

.sliding-dots {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    background: navajowhite;
    border-radius: 50%;
    cursor: pointer;
}
/* đổi màu dot khi banner đó active */
.dot.active {
    background-color:rgba(197, 162, 93); /* Màu khi dot đang hoạt động */
}

/* mũi tên điều hướng ở 2 đầu trái/phải */
.main-carousel-container {
    position: relative;
    width: 100%;
    padding: 0 50px;
    height: 250px;
}

.carousel-arrow {
    /* Định vị tuyệt đối so với .main-carousel-container */
    position: absolute;
    top: 50%;
    /* căn giữa theo chiều dọc */
    transform: translateY (-50%); 
    /* kích thước của mũi tên */
    width: 40px;
    height: 40px;

    border: none;
    cursor: pointer;
    font-size: 30px;
    line-height: 40px;

    background-color: aliceblue;
    color: grey;

    transition: background-color 0.3s ease;
}

/* Căn lề trái */
.carousel-arrow.left {
    left: 10px; /* Vị trí so với lề trái của container */
}

/* Căn lề phải */
.carousel-arrow.right {
    right: 10px; /* Vị trí so với lề phải của container */
}

@media (max-width: 576px) {
    .footer-banner {
        display: none;
    }
    .main-carousel-container{
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
    .sliding-banner {
        width: 100%; 
        flex-grow: 1; /* Cho phép nó mở rộng hết không gian còn lại */
        /* position: relative;     */
    }
    .sliding-slogan {
        display: flex;
        flex-wrap: wrap;
    }
    .sliding-slogan .slogan {
        min-width: 100%;
        flex-shrink: 0; 
        padding: 0 10px;
    }
    .slogan1 {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: unset;
        
    }
    .slogan2 {
        font-size: 16px;
    }
}

